@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4 home1">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample of excellence in
            education. We take pride in our programs and our
            faculty. The Quality of education is unsurpassable.
        </p>
    </div>
    <div class="col-md-4 home2">
        <h2>Achieve Your Goals</h2>
        <p>You can learn and experienc what it is like in your chosen career. We will prepare you to take on obstacle that you may encounter. We will teach you
        the skill and show you the tools you will need to be succesful.</p>
        
    </div>
    <div class="col-md-4 home3">
        <h2>Graduate</h2>
        <p>You can reach your goals at your speed. Our programs are designed to help you achieve graduation and move on to your chosen career.</p>
       
    </div>
</div>